# Database
DATABASE_USER=user
DATABASE_PASSWORD=pass
DATABASE_DB_NAME=inorbit
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_DB_NAME}

# API
HOST=localhost
PORT=3333

# CORS
CORS_ORIGIN=*
